<section class="container-fluid">
  <div class="row justify-content-center">
    <div
      class="bg-login col-sm-12 col-md-6 col-lg-6 d-none d-lg-block d-xl-block d-md-block"
    >
      <!-- nothing -->
    </div>
    <div
      class="login-access col-sm-12 col-md-6 col-lg-6 d-flex"
      style="flex-direction: column"
    >
      <div class="d-flex header-content">
        <div class="col-md-12 d-flex img-container">
          <img
            src="../../../assets/img/cement-company.png"
            alt="cement company"
          />
        </div>
      </div>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
