@cmx-web-components:registry=https://cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-web-components/
//cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-web-components/:_password=QVAzd042d3lVdzVVNjd2QmFLRVp3ZFRxVk51
//cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-web-components/:username=read-only-user1
//cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-web-components/:always-auth=true