{
  "printWidth": 80,
  "tabWidth": 2,
  "jsxBracketSameLine": false,
  "semi": true,
  "proseWrap": "always",
  "jsxSingleQuote": true,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss", "**/*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
