@font-face {
  font-family: dls-icons;
  src: url("https://www.cemexgo.com/cdn/dls-icons.eot");
  src: url("https://www.cemexgo.com/cdn/dls-icons.eot#iefix")
      format("embedded-opentype"),
    url("https://www.cemexgo.com/cdn/dls-icons.ttf") format("truetype"),
    url("https://www.cemexgo.com/cdn/dls-icons.woff") format("woff"),
    url("https://www.cemexgo.com/cdn/dls-icons.svg#dls-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: dls-icons-rtl;
  src: url("https://www.cemexgo.com/cdn/dls-icons-rtl.eot");
  src: url("https://www.cemexgo.com/cdn/dls-icons-rtl.eot#iefix")
      format("embedded-opentype"),
    url("https://www.cemexgo.com/cdn/dls-icons-rtl.ttf") format("truetype"),
    url("https://www.cemexgo.com/cdn/dls-icons-rtl.woff") format("woff"),
    url("https://www.cemexgo.com/cdn/dls-icons-rtl.svg#dls-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
