// Fonts
$font-size-base: 16px;
$font-family-base: Roboto, "Helvetica Neue", sans-serif;

// Colors
$aqua-haze:#f4f6f9;
$white: #fff;
$picton-blue:#3FA9F5;
$prussian-blue:#002A59;
$mine-shaft:#333;
$resolution-blue:#023185;
$alto:#d6d6d6;
$athens-gray:E8EBEF;


