// Fonts
$font-size-base: 16px;
$font-family-base: Roboto, "Helvetica Neue", sans-serif;

// Colors

$cemex-blue:#003876;
$dark-blue:#002A59;
$background-gray:#F4F6F9;
$medium-gray:#666666;
$dark-gray:333333;
$deep-blue-text:#001B3A;
$disabled-gray:#D6D6D6;
$table-row-gray:#E8EBEF;
$table-highlight-blue:#CCE4F8;
$true-red:#EE3D42;
$darken-5:#B71C1C;
$lighten-3:#EF9A9A;
$darken-4:#01579B;
$lighten-3:#81D4FA;
$darken-3:#FF8F00;
$lighten-3:#FFCC80;
$darken-4:#1B5E20;
$lighten-3:#C5E1A5;

$white: #FFF



